<!DOCTYPE html>
<html>
<head>
  <title>To Do</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
	<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">My Life</a>
      <div class="nav-collapse">
        <ul class="nav">
           <li><%= link_to "Job" %></li>
          <li><%= link_to "Contact Me" %></li>
          <li><%= link_to "Bio" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>About Me</h2>
      <p>I like to eat pies, especially blue ones. The bluer, the better. My appetite has no boundries. Sometimes, I like to play chemist and throw "calculated" food items and liquids into a "flavor fusor", that is my blender, and create new flavors that is beyond the realm of normal tastebuds. It's like creating a symphony in my mouth. A bit of oil from cheeses, avocado, or fish to allow flavors to linger longer in one's mouth, or none to give a fleeting yet sharp point of taste. <br /> <br />My world is one of taste of buds. <br /> <br /> -Vandoona</p>        
    </div>
  </div>
</div>

 
</body>
</html>
